/* header */
.main-section{background-color: rgb(53, 53, 186);
    width: 1530px;
    height: 600px;
}
/* Link */
.link a{
    margin-left:70px ;
    text-decoration: none;
    color: white;
}
    
.btn{

    height: 44px;
    width: 123px;
    background-color:#E02C6D;
    margin-left: 450px;
    margin-top: 20px;
    color: white;
    border: none;
}
 /* main */
   .main-1{
    display: flex;
    width: 1400px;
    height: 300px;
    
    }

  .main-2{
    margin-left:80px;
    font-size: 50px;
    width:600px;
    height: 400px;
    color: white;
    
 }
  .conmebol{
    margin-bottom: 0;
 }
 /* main end */
 /* btn-1 */
  .btn-1{
    height: 30px;
    width: 123px;
    background-color:#E02C6D;
    border-radius: 15px;
    margin-bottom: 60px;
    color: white;
    border: none;
  }
  img{
    height: 438px;
    width: 557px;
  }
  /* main end */
  /* 1st div */
  .div-1{
     display:grid;
     grid-template-columns: repeat(3,1fr);
    gap:40px;
    width: 256px;
    margin-top: 20px;
    margin-left: 250px;
  }

 .img-1 img{
  height:256px ;
  width: 300px;
  }
  .img-1{
    box-shadow: 0 0 10px 10px rgba(128, 128, 128, 0.345);
  }
    .div-3{
      display: flex;
      margin-top: 70px;
      margin-right: 4px;
 }
  .div-4{
    margin-left:80px;
    width:600px;
    height: 400px;
  }
  .btn-2{
    height: 30px;
    width: 123px;
    background-color:#E02C6D;
    margin-bottom: 60px;
    color: white;
    border: none;
    margin-left: 25px;
    
  }
  /* footer */
  .last-div{
    text-align: center;
    
    
  }
  .img2{
    height:180px;
    width: 480px;
    margin-top: 50px;
    margin-left: 20px;


  }
  
  .end{
    border-radius: 100px;
    margin-left: 20px;
    
}
 .end i{
  box-shadow: 0 0 5px 5px #ece6e6d2;
  margin-left: 20px;


 }
 .end-1{
margin-left:40px;

 }
 /* footer end */


  



 


 
 

    


 
 


 

  